* {
  all: unset;
  display: revert;
}

:root {
  --palette-text1: hsl(220, 95%, 10%);
  --palette-text2: hsl(220, 20%, 50%);
  --paper-width: calc((1rem / 16) * (595 * (1 / 0.75)));
  --pt: calc((1rem / 16) * (1 / 0.75));
  background-color: hsl(220, 60%, 15%);
  color: var(--palette-text1);
  font-family: "Roboto", sans-serif;
  line-height: 1.171875;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(24 * var(--pt));
  font-weight: 700;
  margin-bottom: calc(4 * var(--pt));
}

h1 + p {
  font-size: calc(14 * var(--pt));
}

h2 {
  color: var(--palette-text2);
  font-size: calc(14 * var(--pt));
}

h3 {
  font-weight: 700;
}

header {
  align-items: baseline;
  border-bottom: calc(0.5 * var(--pt)) solid var(--palette-text1);
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: calc(40 * var(--pt)) calc(48 * var(--pt));
}

header > ul {
  color: var(--palette-text2);
  font-size: calc(9 * var(--pt));
  list-style-type: none;
  text-align: right;
}

main {
  padding: calc(40 * var(--pt)) calc(48 * var(--pt));
}

main > section {
  align-items: baseline;
  display: flex;
}

main > section > ul {
  column-count: 3;
  list-style-position: inside;
}

main > section:not(:last-child) {
  margin-bottom: calc(40 * var(--pt));
}

main > section > *:nth-child(1) {
  flex-basis: 20%;
}

main > section > *:nth-child(2) {
  flex-basis: 80%;
}

.noise {
  background-image: url("noise.png");
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.section-body > section {
  display: grid;
  grid-template-areas: ". ." "body body";
  row-gap: calc(8 * var(--pt));
}

.section-body > section:not(:last-child) {
  margin-bottom: calc(16 * var(--pt));
}

.section-body > section > p:nth-of-type(1) {
  color: var(--palette-text2);
  text-align: right;
}

.section-body > section > p:nth-of-type(2) {
  grid-area: body;
}

#ellipse-1 {
  background: linear-gradient(#ade2ff, #286bfb);
  border-radius: 50%;
  filter: blur(50px);
  height: 500px;
  left: 35%;
  position: absolute;
  top: -200px;
  transform: rotate(60deg);
  width: 750px;
  z-index: -1;
}

#ellipse-2 {
  background: linear-gradient(#a6e8e0, #2d69ae);
  border-radius: 50%;
  filter: blur(50px);
  height: 500px;
  left: -350px;
  position: absolute;
  top: 600px;
  transform: rotate(30deg);
  width: 750px;
  z-index: -1;
}

#ellipse-3 {
  background: linear-gradient(#a6e8e0, #2d69ae);
  border-radius: 50%;
  filter: blur(50px);
  height: calc(250 * var(--pt));
  left: calc(220 * var(--pt));
  opacity: 40%;
  position: absolute;
  top: calc(80 * var(--pt));
  transform: rotate(40deg);
  width: calc(320 * var(--pt));
  z-index: -1;
}

#ellipse-4 {
  background: linear-gradient(#ade2ff, #286bfb);
  border-radius: 50%;
  filter: blur(50px);
  height: calc(250 * var(--pt));
  left: calc(50 * var(--pt));
  opacity: 40%;
  position: absolute;
  top: calc(450 * var(--pt));
  transform: rotate(110deg);
  width: calc(320 * var(--pt));
  z-index: -1;
}

#paper {
  border-radius: 0.5rem;
  font-size: calc(11 * var(--pt));
  height: calc(var(--paper-width) * 842 / 595);
  overflow: hidden;
  position: relative;
  width: var(--paper-width);
}

#paper > .noise {
  mix-blend-mode: plus-lighter;
}

#white-bg {
  background-color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding: 8rem 0;
  position: relative;
  width: 100%;
}